#button-container{
  display:flex;
  justify-content: center;
}

#user-prompt-button{
  background-color: green;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: 600;
  margin-bottom: 10px;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#grid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 90vw;
}

.row{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.square{
  flex: 1 1 auto;
  aspect-ratio: 1 / 1;
  width: 100%;
  border: .1em solid black;
  margin: .1%
}

.square:not(:hover){
  transition: all 2s;
}

.square:hover{
  background-color: red;
  transition: all 0s;
}